/* custom propertiess*/
:root{
    --heading-color:red;
    --bg-color:lightblue;
}

/* universal selector */
*{
    padding: 0;
    margin: 0;
     /* include border and sizing*/
     box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 70px;
    color:var(--heading-color);
    background-color:var(--bg-color);
}

div{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 5px solid red;
    padding: 10px;
    /* include border and sizing*/
    box-sizing: border-box;
}

/* width= width of content+left pd+right pd*/