html{
    font-size: 20px;
    
}

body{
    font-size: 15px;
}



p{
    /* 2 x font size of root*/
    font-size: 2rem;
}

h1{
    /* 4 x font size of parent*/
    font-size: 4em;
}

/*
em - font size of parent
rem - font size of root
*/