img{
    display: block;
    margin: auto;
    border-radius: 50%;
}
h1{
    text-align: center;
    font-family: serif;
    font-weight: normal;
}
h2{
    color: rgb(224, 156, 67);
}
body{
    font-family: sans-serif;
    background-color: antiquewhite;
}
div{
    padding-left: 300px;
    width: 900px;
}
hr{
   
    color: dodgerblue;
}

