.design{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTlGcUdBxVcXn4uh3ZaZDBqGHw_dNW2p4lnQ&s);
    background-size: cover;
}

section{
    padding-top: 200px;
    padding-left: 120px;
}